body {
    margin: 0;
    padding: 0;
}
.question {
    display:block;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-left: 30%
}
#timer {
    font-size: 40px;
    display: flex;
    justify-content: center;

}
#start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 40%;
    margin-top: 10%;

    border: 4px solid pink;
    border-radius: 20px;
    background-color: purple;
    font-weight: bold;
    height: 300px;
    width: 350px;
    font-size: 76px;
}

.question-button {
    padding: 10px;
    border: 2px solid pink;
    border-radius: 20px;
    background-color: purple;
    font-weight: bold;
    
}

.question-button:hover {
    background-color: rgb(192, 11, 192);
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form button {
    padding: 10px;
    border: 2px solid pink;
    border-radius: 20px;
    background-color: purple;
    font-weight: bold;
}

#leaderboard-container {
    justify-content: center;
}